<header>
    <a href ="/index.html"><h1 class = "site-title">From: Ezra</h1></a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink active"><a href="/index.html">HOME</a></li>
            <li class="navitem navlink"><a href="/about.html">ABOUT</a></li>
            <!--
                <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
            </li>
            -->
        </ul>
    </nav>
</header>